In [1]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('desafio1.csv')

In [42]:
df = df[['estado_residencia', 'pontuacao_credito']]

In [44]:
df.head()

  estado_residencia  pontuacao_credito
0                SC                619
1                RS                608
2                SC                502
3                SC                699
4                RS                850

In [ ]:
#moda
df1 = df.groupby('estado_residencia')['pontuacao_credito'].apply(lambda x: x.mode()).reset_index()

In [ ]:
#mediana
df2 = df.groupby('estado_residencia')['pontuacao_credito'].median().reset_index()

In [ ]:
#media
df3 = df.groupby('estado_residencia')['pontuacao_credito'].mean().reset_index()

In [ ]:
#desvio padrao
df4 = df.groupby('estado_residencia')['pontuacao_credito'].std().reset_index()

In [ ]:
df_total = df1.merge(df2, on='estado_residencia', how='left') #leftjoin
df_total.rename(columns={'pontuacao_credito_x': 'moda', 'pontuacao_credito_y': 'mediana'}, inplace=True)

In [ ]:
df_total = df_total.merge(df3, on='estado_residencia', how='left') #leftjoin
df_total.rename(columns={'pontuacao_credito': 'media'}, inplace=True)

In [ ]:
df_total = df_total.merge(df4, on='estado_residencia', how='left') #leftjoin
df_total.rename(columns={'pontuacao_credito': 'desvio_padrao'}, inplace=True)

In [ ]:
df_total = df_total.sort_values('estado_residencia', ascending=False)

In [ ]:
df_total.reset_index(drop=True, inplace=True)

In [ ]:
df_total = df_total.set_index('estado_residencia')

In [ ]:
df_total.to_json('submission.json', orient='index')

# Solucao 2 com .agg()

In [65]:
df = df.groupby('estado_residencia')['pontuacao_credito'].agg({'moda': pd.Series.mode,
                                                          'mediana': pd.Series.median,
                                                         'media': pd.Series.mean,
                                                         'desvio_padrao': pd.Series.std})

/home/leonardo/codenation/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [66]:
df = df.sort_values('estado_residencia', ascending=False)

In [69]:
df_total.to_json('submission.json', orient='index')

'{"SC":{"moda":850,"mediana":653,"media":649.5376527423,"desvio_padrao":97.2334927934},"RS":{"moda":850,"mediana":650,"media":651.1051428571,"desvio_padrao":95.1365984138},"PR":{"moda":850,"mediana":650,"media":648.9612940497,"desvio_padrao":98.6071859131}}'